/* universal style start here */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

/* universal style end here */

/* header section start here */

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
}
ul{
    display: flex;
    column-gap: 55px;
}
nav ul li{
    list-style: none;
    display: inline;
    
}

nav ul li a{
    text-decoration: none;
    color: #333;
    padding: 10px;
    width: 53px;
    height: 36px;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
}
.btn{
    display: flex;
    column-gap: 15px;
}
.btn-1{
    width: 121px;
    height: 57px;
    border: 1px solid #ebc887;
    background-color: transparent;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
}
.btn-2{
    width: 121px;
    height: 57px;
    background-color: #fdbb57;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    border: none;
}

.header-container{
    width: 1920px;
    background: #fae3b6;
    padding-top: 47px;
}

/* header section end here */

/* main section start here */

/* banner section start here */
.banner-container{
    width: 1920px;
    height: 800px;
    background: #fae3b6;
    padding-top: 110px;
}

.banner-content{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.banner-text h1{
    width: 556px;
    color: rgb(0, 0, 0);
    font-family: Poppins;
    font-size: 64px;
    font-weight: 600px;
    text-align: left;
}

.banner-text p{
    width: 531px;
    color: rgb(0, 0, 0);
    font-family: Poppins;
    font-size: 22px;
    font-weight: 400;
    text-align: left;
    padding-top: 42px;
    padding-bottom: 67px;
}

.banner-text button{
    width: 266px;
    height: 71px;
    color: rgb(255, 255, 255);
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600px;
    text-align: center;
    background-color: black;
    border-radius: 10px;
    border: none;
    
}

/* banner section end here */

/* mid container start here */

.mid-container{
    height: 2070px;
    width: 1900px;
    row-gap: 200px;
}

.first-part{
    width: 1900px;
    height: 790px;
    margin-top: 152px;
    justify-content: center;
    align-items: center;
}

.first-part-text{
    width: 437px;
    height: 162px;
    color: rgb(0, 0, 0);
    font-family: Frank Ruhl Libre;
    font-size: 40px;
    font-weight: 700;
    padding-left: 37%;
}

.first-part-text h1{
    text-align: center;
}

.first-part-img{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.second-part{
    width: 1900px;
    height: 1160px;
    margin-top: 100px;
    display: flex;
    padding-left: 150px;
    padding-top: 50px;
}

.second-part-img img{
    width: 700px;
    height: 760px;
    margin-left: 50px;
}

.second-part-text{
    margin: 0 auto;
    text-align: left;
    padding-top: 90px;
    padding-top: 125px;

}
.second-part-text h1{
    width: 437px;
    height: 162px;
    color: rgb(0, 0, 0);
    font-family: Frank Ruhl Libre;
    font-size: 64px;
    font-weight: 700;
}

.second-part-text p{
    width: 443px;
    height: 186px;
    color: rgb(0, 0, 0);
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    padding-top: 65px;
}

.box{
    color: rgb(255, 6, 6);
    border: 1px solid red;
    width: 1150px;
    height: 280px;
    margin-top: -475px;
    margin-left: 700px;
    background: #feecc8;
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 70px;
}

.founded{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.box h1{
    color: rgb(0, 0, 0);
    font-family: Podkova;
    font-size: 50px;
    font-weight: 700;
    text-align: left;
}

.box h1 span{
    display: flex;
    justify-content: center;
    align-items: center;
}

.best-reviews{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.line-1{
    border-left: 1px solid black;
    height: 160px;
    margin-left: 50px;
}
.line-2{
    border-left: 1px solid black;
    height: 160px;
    margin-left: 50px;
}

/* mid container end here */


/* main section end here */